<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>camarero_abajo_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{23,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,46}}</string>
				<key>sourceSize</key>
				<string>{23,46}</string>
			</dict>

			<key>camarero_abajo_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,139},{20,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,45}}</string>
				<key>sourceSize</key>
				<string>{20,45}</string>
			</dict>

			<key>camarero_abajo_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,46},{23,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,46}}</string>
				<key>sourceSize</key>
				<string>{23,46}</string>
			</dict>

			<key>camarero_abajo_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,46},{20,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,45}}</string>
				<key>sourceSize</key>
				<string>{20,45}</string>
			</dict>

			<key>camarero_izquierda_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,186},{19,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,46}}</string>
				<key>sourceSize</key>
				<string>{19,46}</string>
			</dict>

			<key>camarero_izquierda_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{22,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,45}}</string>
				<key>sourceSize</key>
				<string>{22,45}</string>
			</dict>

			<key>camarero_izquierda_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,186},{19,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,46}}</string>
				<key>sourceSize</key>
				<string>{19,46}</string>
			</dict>

			<key>camarero_izquierda_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,93},{20,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,45}}</string>
				<key>sourceSize</key>
				<string>{20,45}</string>
			</dict>

			<key>camarero_derecha_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,92},{19,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,46}}</string>
				<key>sourceSize</key>
				<string>{19,46}</string>
			</dict>

			<key>camarero_derecha_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,93},{22,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,45}}</string>
				<key>sourceSize</key>
				<string>{22,45}</string>
			</dict>

			<key>camarero_derecha_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,139},{19,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,46}}</string>
				<key>sourceSize</key>
				<string>{19,46}</string>
			</dict>

			<key>camarero_derecha_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,0},{20,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,45}}</string>
				<key>sourceSize</key>
				<string>{20,45}</string>
			</dict>

			<key>camarero_arriba_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{23,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,45}}</string>
				<key>sourceSize</key>
				<string>{23,45}</string>
			</dict>

			<key>camarero_arriba_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{21,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,44}}</string>
				<key>sourceSize</key>
				<string>{21,44}</string>
			</dict>

			<key>camarero_arriba_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{23,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,45}}</string>
				<key>sourceSize</key>
				<string>{23,45}</string>
			</dict>

			<key>camarero_arriba_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,185},{21,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,44}}</string>
				<key>sourceSize</key>
				<string>{21,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,256}</string>
			<key>textureFileName</key>
			<string>camarero.png</string>
			</dict>
		</dict>
</plist>