<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animadora1.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,265},{62,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,87}}</string>
				<key>sourceSize</key>
				<string>{62,87}</string>
			</dict>

			<key>animadora10.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{61,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,87}}</string>
				<key>sourceSize</key>
				<string>{61,87}</string>
			</dict>

			<key>animadora2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,356},{62,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,87}}</string>
				<key>sourceSize</key>
				<string>{62,87}</string>
			</dict>

			<key>animadora3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{63,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,88}}</string>
				<key>sourceSize</key>
				<string>{63,88}</string>
			</dict>

			<key>animadora4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,356},{62,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,88}}</string>
				<key>sourceSize</key>
				<string>{62,88}</string>
			</dict>

			<key>animadora5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,88}}</string>
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>

			<key>animadora6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,267},{63,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,88}}</string>
				<key>sourceSize</key>
				<string>{63,88}</string>
			</dict>

			<key>animadora7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{63,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,88}}</string>
				<key>sourceSize</key>
				<string>{63,88}</string>
			</dict>

			<key>animadora8.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,177},{62,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,87}}</string>
				<key>sourceSize</key>
				<string>{62,87}</string>
			</dict>

			<key>animadora9.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,89},{62,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,87}}</string>
				<key>sourceSize</key>
				<string>{62,87}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,512}</string>
			<key>textureFileName</key>
			<string>animadora.png</string>
			</dict>
		</dict>
</plist>