<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>beso_abajo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,47}}</string>
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>

			<key>beso_abajo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,48},{26,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,47}}</string>
				<key>sourceSize</key>
				<string>{26,47}</string>
			</dict>

			<key>beso_abajo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{26,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,45}}</string>
				<key>sourceSize</key>
				<string>{26,45}</string>
			</dict>

			<key>beso_abajo4.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,46},{26,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,46}}</string>
				<key>sourceSize</key>
				<string>{26,46}</string>
			</dict>

			<key>beso_abajo5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{35,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,47}}</string>
				<key>sourceSize</key>
				<string>{35,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>beso_abajo.png</string>
			</dict>
		</dict>
</plist>